<nav class="navbar navbar-light bg-white sticky-top navbar-expand-md shadow">
  <div class="container-fluid px-5">
    <a class="navbar-brand" href="#">
      {{!-- <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"> --}}
      <i class="fas fa-book"></i>
    </a>
  </div>
</nav>